<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <img src="{{ url_for('usa_svg', highlight=['CA', 'FL']) }}">
</body>
</html>
